.hack1 {
	display: table;
	table-layout: fixed;
	width: 100%;
}

.hack2 {
	display: table-cell;
	overflow-x: auto;
	width: 100%;
}

  .bg-login {
	 /*background-image: url('images/bg-sar.jpg');*/
	 /*background-color: green;*/
	 /*background-size: 100%;*/
}
