.floating-button {
	position: fixed;
	z-index: 99;
	bottom: 100px;
	right: 30px;
	background-color: blue;
	color: #fafafa;
	border-radius: 50px;
	margin: 0;
}
.floating-button .nav-btn {
	position: unset;
	border-radius: 50px;
	color: #fafafa;
	margin: 0;
	padding: 14px;
}

.sbar_collapsed .nav-btn {
	background-color: blue;
	color: #fafafa;
	padding: 14px;
	margin: 0;
	border-radius: 50px;
}
.custom-nav-footer {
	width: 100%;
	height: 60px;
	padding-left: 5px;
	box-shadow: 0px -6px 18px 0px rgba(0, 0, 0, 0.1);
	background-color: #18a4e0;
	position: absolute;
	bottom: 0;
	font-size: 18pt;
}
.custom-nav-footer > .custom-button {
	display: inline-block;
	padding: 3px 10px;
	height: 100%;
	border: none;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: rgba(0, 0, 0, 0);
	width: 32%;
	transition: 0.5s;
}
.custom-nav-footer a {
	color: #faf8f0 !important;
	text-decoration: none;
}
.custom-button p {
	color: white;
}

.sidebar-menu,
.sidebar-header {
	background-color: white !important;
	border: none;
	padding: 0px;
}

.custom.subtitle {
	background-color: #18a4e0;
	padding: 10px;
}
.bg-blue {
	background-color: blue !important;
}
.bg-orange {
	background-color: orange !important;
}
.bg-white {
	background-color: white !important;
}
.main-menu {
	padding: 0px;
	height: auto;
	min-height: 250px;
}
.metismenu li a {
	border-top: 0.5px solid rgba(0, 0, 0, 0.1) !important;
	border-bottom: 0.5px solid rgba(0, 0, 0, 0.1) !important;
	background-color: white;
	color: #000;
	display: flex;
	padding: 10px 15px;
	flex-direction: row-reverse;
}
.metismenu li a:hover,
.metismenu li a:focus,
.metismenu li a:active {
	background-color: #0d244a;
	color: white;
}
.metismenu li a img {
	width: 20px;
	height: auto;
}
.metismenu li a:after {
	color: transparent !important;
}
.metismenu li a span {
	width: 250px;
}
.metismenu .collapse li a {
	justify-content: flex-end;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.metismenu .collapse li a:hover {
	background-color: #0d244a;
	color: white;
}
.custom.menu {
	display: flex;
	width: 100%;
}
.custom.menu a {
	width: 33.33333%;
	display: flex;
	height: 100px;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.custom.menu div img {
	height: 50px;
}
.page-title-area img {
	width: 100%;
	max-width: 970px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
:root {
	--primary-color: none !important;
}
.custom.carousel {
	height: 500px;
	width: 100%;
	background-color: #e3e3e3;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}
.custom.carousel .carousel-item {
	height: 500px;
	width: 100%;
}
.carousel-item img {
	object-fit: cover;
}
.carousel {
	width: 100%;
}
.custom.address {
	height: 400px;
	width: 100%;
	background-color: white;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.custom.about {
	padding: 0 20px;
	height: auto;
	width: 100%;
	background-color: transparent;
	color: #0f0f0f;
	display: flex;
	text-align: justify;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.custom.about p,
.custom.about ul,
.custom.about li {
	font-size: 16px;
	text-align: justify;
	color: #0f0f0f;
	margin-top: 3px;
}
.custom.about p {
	margin-top: 10px;
	margin-bottom: 10px;
}
.custom.about ul {
	margin-left: 10px;
}
.custom.about ol {
	margin-left: 50px;
}

.custom.address iframe {
	height: 400px;
	width: 100%;
}
.footer-area {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 200px;
	background-color: #213867 !important;
	color: white !important;
}
.footer-area p {
	color: white;
}
.main-content-inner {
	padding: 0 30px !important;
}
.custom.carousel .carousel-item img {
	height: 100%;
}

.carousel-caption {
	padding: 10px;
	border-radius: 10px;
	min-width: 100px;
	max-width: 40%;
	background-color: rgba(255, 255, 255, 0.7);
}
.carousel-caption p {
	margin-bottom: 10px;
	font-size: 18px !important;
	font-weight: bold;
}

@media only screen and (max-width: 600px) {
	.custom.carousel,
	.custom.carousel .carousel-item {
		height: 350px !important;
	}
}

@media only screen and (max-width: 450px) {
	.carousel-caption a button {
		display: inline;
		font-size: 10px !important;
		padding: 4px 5px;
		white-space: normal !important;
	}
	.carousel-caption p {
		font-size: 13px !important;
	}
	.footer-area h3 {
		font-size: 18px !important;
	}
	.footer-area h1 {
		font-size: 21px !important;
	}
}
