.hack1 {
          display: table;
          table-layout: fixed;
          width: 100%;
}

.hack2 {
     display: table-cell;
     overflow-x: auto;
     width: 100%;
}

/*.card-print {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}*/

/*.card-print:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}*/

/*.container {
    display:grid;
    grid-template-columns: 66% auto;
    padding: 4em 1em;
}*/

.back1 {
    /*font-family: 'Source Sans Pro';*/
    /*background:red;*/
    margin:0;
    /*color:white;*/
     background-image: url('admin/images/sar-bg.jpg'); no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*a {
    text-decoration:none;
    color:red;
    font-size:1.8em;
    font-weight:700;
}*/
/*img { 
    width:150px;
*/}
/*header {
    background:#FFFFFF;
    padding: 1em;
*/}

/*.container {
    padding: 4em 1em;
}
*/
/*footer {
    background:#571212;
*/}

/*ul {
    margin:0;padding:0;
}
ul li {
    padding: 2em;
    color:#E98A8A;
}
ul li span {
    display:block;
    font-size:1.4em;
    margin-bottom:1em;
    color: white;
}*/